# Drizzle
DATABASE_URL=postgres://postgres:password@localhost:5433/local

ORIGIN="http://localhost:5173"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="a937b266-c4d1-485b-b201-a85447918c6d"
