@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
	themes:
		cmyk --default,
		sunset --prefersdark;
}

@utility shadow-all {
	--tw-shadow:
		0 10px 15px -3px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
		0 4px 6px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 -4px 20px rgba(0, 0, 0, 0.1);
	box-shadow:
		var(--tw-inset-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

@utility menu-link-active {
	@apply bg-neutral text-neutral-content;
}
